.container
{
  margin: 0 auto;
  width: 1280px;
}

body
{
  width:1280px;
  margin: 0 auto;
}

header
{
  padding: 10PX;
	height: 60px;
  width: 1280px;
  margin:0 auto;
  background-color: #ddb1b1;
}

.logo{
  width: 60px;
  height: 60px;
}

nav
{
  padding: 10px;
  float: right;
  font-family: "Poiret one regular";
}

nav ul
{
	list-style-type: none;
}

nav ul li
{
	float: left;
}

nav ul li a
{
	display: block;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .5px;
	border-radius: 10px;
	cursor: pointer;
}

nav ul li a:hover
{
	background-color: #73B2E2;
	border-radius: 10px;
	color: #333;
}

h1
{
  text-align: center;
  font-family: "Orbitron Bold";
  font-size: 60px;
  line-height: normal;
  letter-spacing: 2PX;
  font-weight: bold;
  width: 1280px;
  color: #350f0d ;
}

.content
{
  padding: 10px;
  justify-content: space-between;
  display: flex;
  text-align: center;
  font-family: arial;
  text-indent: 25px;
  margin: auto;
  line-height: 20px;
  width: 1280px;
}

h2
{
  text-align: center;
  font-family: "Poppins thin 100";
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #aaaaaa;
}

.body-img{
  display: flex; flex-direction: column;
  width: 250px;
  height: 250px;
  background-color: gray;
}

.info{
  text-align: center;
  font-family: "Indie flower regular";
  width: auto;
  font-size: 18px;
  line-height: 30px;
  margin: auto 0 ;
  color: #681515;
}


h3{
    text-align: center;
    font-family: "Shadows into light";
    font-size: 45px;
    line-height: 80px;
    letter-spacing: normal;
    font-weight:400;
    color: #f7b54b;
}
.contact
{
  text-align: left;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
  width: 1280px;
  font-family: "EB Garamond regular";

}

footer{
  padding: 10PX;
  font-family: "Poiret one regular";
  font-size: 18px;
	height: 60px;
  width: 1280px;
  margin:0 auto;
  background-color: #ddb1b1;
  float: left;
}


.footer-logo
{
  height: 60px;
  width: 60px;
}
